@use "../base" as *;
@use "../partials/variables" as *;


// new classes
.heading-style{
    color: $primary-color;
    font-size: 68px;
    font-family: $primary-font;
}

@media (max-width: 1200px){
    .heading-style{
        font-size: 50px;
    }
}
@media (max-width: 992px){
    .heading-style{
        font-size: 35px;
    }
}

.title-style{
    color: $secondary-color;
    font-family: $bold-font;

}

.text-style{
    color: $text-color;
    font-family: $tertiary-font;

    // font-size: $text-font-size;
    // text-align: justify;
    // text-align-last: left;
}

.btn{
    color: $tertiary-color;
    background-color: $primary-color;
    border: none;
    transition: .3s;
    &:hover {
        background-color: darken($primary-color, 7%);
        color: $tertiary-color;
      }
    font-family: $tertiary-font;
    padding: 5px 20px 5px 20px;
    font-weight: 700;
    font-size: 15px;
}

.btn-outline{
    background-color: $color-light;
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: .4s;
    &:hover{
        background-color: darken($primary-color, 7%);
        color: $color-light;
    }
}


.link{
    color: $text-color;
    transition: .3s;
    font-family: $tertiary-font;
    &:hover{
        color: $primary-color;
        // transform: scale(1.5) !important;
    }
}

.color-txt{
    color: $primary-color;
}

.u-line{
    height: 2px;
    background: $primary-color;
}

.bg-deep{
    background-color: $bg-color;
}
//////////////////////////////////////

.see-more{
    color: $primary-color;
    margin-bottom: $space-title-md;
    &:hover{
        cursor: pointer;
    }
}



.box-shadow{
    box-shadow: 1px 1px 5px #c9c7c7;
}


.reviews{
    i{margin-right: 8px;}
    color: $tertiary-color;
    // font-size: $text-extra-small
    }



